<div class="custom-jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
    </div>
    <div class="row  justify-content-center">
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
    </div>
    <div class="row  justify-content-center">
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-dizzy fa-2x text-danger"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
    </div>
    <div class="row justify-content-center">
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
    </div>
    <div class="row  justify-content-center">
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
      <span class="m-1"><i class="far fa-newspaper fa-2x"></i></span>
      <span class="m-1"><i class="far fa-desktop fa-2x"></i></span>
    </div>
  </div>
  <h1>Smart RSS Reader</h1>
  <p class="lead">Too much to read, too little time?</p>
  <hr class="my-4" />
  <p>Join today and <u>read smarter, not harder</u>!</p>
          <a
          class="btn btn-primary text-white btn-lg btn-centered"
          [routerLink]="['/authentication/register']"
          >Get Started
          <i class="far fa-arrow-right"></i>
          </a
        >
</div>
