<div class="card m-2">
  <div class="card-body">
    <div *ngIf="weeklyBlogSummary" class="d-inline-flex">
      <h5 class="class-title align-self-center">
        {{ weeklyBlogSummary.blogTitle }}
      </h5>
      <i
        class="far fa-chart-line fa-lg mx-2 text-white align-self-center"
        (click)="showStats(weeklyBlogSummary.blogId)"
      ></i>
    </div>
    <ngx-charts-number-card
      *ngIf="latestCardData"
      [view]="cardView"
      [scheme]="colorScheme"
      [results]="latestCardData"
      [cardColor]="cardColor"
    >
    </ngx-charts-number-card>
  </div>
</div>
