<div class="card">
  <div class="card-header p-1">
    <div class="row">
      <div class="col mx-2">
        <h4>{{ feedItemSectionTitle }}</h4>
      </div>
      <div
        class="col text-right"
        *ngIf="feedItemSource === FeedItemSourceEnum.Blog && selectedBlog"
      >
      <app-blog-statsbutton  [blog]="selectedBlog"></app-blog-statsbutton>
      <app-blog-editbutton [blog]="selectedBlog"></app-blog-editbutton>

      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="totalArticlesCount > 0">
    <ul class="list-group">
      <li
        *ngFor="let feedItem of feedItems"
        class="list-group-item list-group-item-action rounded-0"
      >
        <div *ngIf="feedItem?.id !== selectedFeedItem?.id" class="p-2">
          <span class="m-1" (click)="bookmarkToggledHandler(feedItem)">
            <i
              [className]="
                feedItem.bookmarked ? 'fas fa-bookmark' : 'far fa-bookmark'
              "
            ></i>
          </span>
          <span
            (click)="feedItemSelected(feedItem)"
            [innerHTML]="feedItem.title"
            [ngClass]="{
              'font-weight-bold text-primary': !feedItem.readAlready
            }"
            [ngClass]="{
              'font-weight-light text-secondary': feedItem.readAlready
            }"
          ></span>
          &nbsp;
          <small
            class="rounded px-2 py-1 border border-warn"
            *ngIf="feedItem.blogTitle && showBlogTitle"
            ><b>{{ feedItem.blogTitle }}</b>
          </small>
          <div class="float-right m-1">
            <i
              *ngIf="feedItem.userRatingPrediction"
              [className]="
                feedItem.userRatingPrediction > 0
                  ? 'fas fa-star mx-1'
                  : 'fal fa-star mx-1'
              "
            ></i>
            <i
              *ngIf="feedItem.userRatingPrediction"
              [className]="
                feedItem.userRatingPrediction > 1
                  ? 'fas fa-star mx-1'
                  : 'fal fa-star mx-1'
              "
            ></i>
            <i
              *ngIf="feedItem.userRatingPrediction"
              [className]="
                feedItem.userRatingPrediction > 2
                  ? 'fas fa-star mx-1'
                  : 'fal fa-star mx-1'
              "
            ></i>
            <i
              *ngIf="feedItem.userRatingPrediction"
              [className]="
                feedItem.userRatingPrediction > 3
                  ? 'fas fa-star mx-1'
                  : 'fal fa-star mx-1'
              "
            ></i>
            <i
              *ngIf="feedItem.userRatingPrediction"
              [className]="
                feedItem.userRatingPrediction > 4
                  ? 'fas fa-star mx-1'
                  : 'fal fa-star mx-1'
              "
            ></i>
            <small
              *ngIf="feedItem.categories"
              class="rounded px-2 py-1 border border-warn"
            >{{ feedItem.categories | categoriesPipe }}
            </small>
            &nbsp;
            <small
              class="rounded px-2 py-1 border border-warn"
              *ngIf="feedItem.publishingDate"
            >
              {{ feedItem.publishingDate | publishingDatePipe }}
            </small>
          </div>
        </div>
        <feeditem-display
          *ngIf="feedItem?.id === selectedFeedItem?.id"
          [feedItem]="selectedFeedItem"
          [feedItemUserTags]="feedItemUserTags"
          (articleMarkedAsRead)="markedAsReadHandler(feedItem)"
          (bookmarkToggled)="bookmarkToggledHandler(feedItem)"
          (titleClicked)="onTitleClicked()"
          (userClickedAddItemTag)="onAddItemTagClicked(feedItem)"
          (userInterestUpdated)="handleUserInterestUpdate($event)"
        ></feeditem-display>
      </li>
    </ul>
  </div>
  <div class="card-footer" *ngIf="pageCount > 1">
    <div class="row">
      <div class="col-md-12 text-right">
        <paginator
          *ngIf="pageCount > 1"
          [currentPage]="currentPage"
          [pageCount]="pageCount"
          (currentPageUpdated)="currentPageUpdatedHandler($event)"
        >
        </paginator>
      </div>
    </div>
  </div>
</div>
