/* You can add global styles to this file, and also import other style files */

$enable-responsive-font-sizes: true;

@import "/scss/main.scss";

$theme-colors: (
  "primary": #3500d3,
  //"secondary": #190061,
  //"success": #33cc33,
  //"info": #240090,
);

$font-family-sans-serif: -Roboto, "Helvetica Neue", sans-serif !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 2000px,
);

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  min-width: 0;
  width:100%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr-bs4-alert";

