<header>
  <nav
    class="navbar navbar-expand bg-primary justify-content-center container-fluid"
  >
    <button
      [className]="
        (sidebarCollapsed$ | async) ? 'navbar-toggler-new bg-primary text-white' : 'd-none'
      "
      type="button"
      aria-label="Toggle navigation"
      (click)="showSidebar()"
    >
      <i class="far fa-bars fa-lg"></i>
    </button>
    <a class="navbar-brand text-white d-flex w-50 mr-auto" [routerLink]="['/']">
      <i class="fal fa-head-side-brain fa-lg"></i>
    </a>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      id="navbarContent"
      *ngIf="isAuthenticated$ | async"
    >
      <ul class="navbar-nav ml-auto">

        <li class="nav-item settings-icon mx-2">
            <i class="fal fa-cog fa-lg text-white bg-primary" (click)="openSettingsModal()"></i>
        </li>
        <li class="nav-item align-middle" ngbDropdown>
          <a
            class="nav-link text-white"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown2"
            role="button"
          >
            <i class="fal fa-user-circle fa-lg"></i>
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown2"
            class="dropdown-menu dropdown-menu-right"
          >
            <a
              ngbDropdownItem
              class="nav-link text-dark"
              [routerLink]="['/authentication/profile']"
              title="Manage"
              >Account</a
            >
            <a
              ngbDropdownItem
              class="nav-link text-dark"
              [routerLink]="['/authentication/logout']"
              [state]="{ local: true }"
              title="Logout"
              >Logout</a
            >
          </div>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
    <ul class="navbar-nav" *ngIf="!(isAuthenticated$ | async)">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          [routerLink]="['/authentication/register']"
          >Register</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/authentication/login']"
          >Login</a
        >
      </li>
    </ul>
  </nav>
</header>
