<div class="card">
  <div class="card-header d-flex flex-row">
    <h4 class="flex-grow-1">Articles</h4>
    <span class="border-0" (click)="collapse.toggle()">
      <i [className]=" isCollapsed ? 'far fa-plus-square':'far fa-minus-square'"></i>
    </span>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card-body">
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action rounded-0"
        (click)="unreadSelectedHandler()"
        [ngClass]="{ active: feedItemSource === FeedItemSourceEnum.Unread }"
      >
        <i class="far fa-newspaper"></i>
        <!--<fa-icon [icon]="['far', 'newspaper']"></fa-icon>-->
        New
      </button>
      <button
        class="list-group-item list-group-item-action rounded-0"
        (click)="bookmarksSelectedHandler()"
        [ngClass]="{ active: feedItemSource === FeedItemSourceEnum.Bookmarked }"
      >
        <i class="fas fa-bookmark"></i>
        Bookmarks
      </button>
    </div>
  </div>
</div>
