<div class="card">
  <div class="card-header d-flex flex-row">
    <h4 class="flex-grow-1">Feeds</h4>
    <span class="border-0" (click)="isCollapsed = !isCollapsed">
      <i [className]=" isCollapsed ? 'far fa-plus-square':'far fa-minus-square'"></i>
    </span>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card-body" *ngIf="blogs">
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action rounded-0"
        *ngFor="let blog of blogs"
        [ngClass]="{'active': blog?.id === selectedBlog?.id}"
        (click)="blogSelected(blog)"
      >
        {{ blog.title }}
      </button>
    </div>
  </div>
 </div>
