<div class="row">
  <div class="col-xl-2 col-md-4">
    <blog-list
      [blogs]="blogs$ | async"
      [selectedBlog]="selectedBlog$ | async"
      (selected)="blogSelected($event)"
    >
    </blog-list>
  </div>
  <div class="col-xl-10 col-md-8">
    <articles-list *ngIf="selectedBlog$ | async"
    [excludeAlreadyRead]="excludeAlreadyRead$ | async"
    [keywordExclusion]="keywordExclusion$ | async"
    [feedItems]="feedItems$ | async"
    [selectedFeedItem]="selectedFeedItem$ | async"
    (articleMarkedAsReadEvent)="markItemAsAlreadyRead($event)"
    (excludeAlreadyReadUpdated)="excludeAlreadyReadChanged($event)"
    (keywordExclusionUpdated)="keywordExclusionChanged($event)"
    (selected)="feedItemSelected($event)"
    (titleClickedEvent)="clearCurrentFeedItem()"
    ></articles-list>
  </div>
  </div>
