<div class="row">
  <articles-list

    [currentPage]="currentPage$ | async"
    [feedItems]="feedItems$ | async"
    [feedItemSectionTitle]="feedItemSectionTitle$ | async"
    [feedItemSource]="feedItemSource$ | async"
    [feedItemUserTags]="feedItemUserTags$ | async"
    [pageCount]="pagesCount$ | async"
    [selectedBlog]="selectedBlog$ | async"
    [selectedFeedItem]="selectedFeedItem$ | async"
    [showBlogTitle]="showBlogTitle$ | async"
    [totalArticlesCount]="totalArticleCount$ | async"
    (articleMarkedAsReadEvent)="markItemAsAlreadyRead($event)"
    (articleBookmarkToggledEvent)="toggleItemBookmark($event)"
    (currentPageUpdated)="currentPageChanged($event)"
    (selected)="feedItemSelected($event)"
    (titleClickedEvent)="clearCurrentFeedItem()"
    (userInterestUpdated)="userInterestUpdateHandler($event)"
    (addItemTagClickedEvent)="addItemTagClicked($event)"
  ></articles-list>
</div>
