<div style="width: 95px">
  <i
    (click)="onClick(1)"
    [className]="rating > 0 ? 'fas fa-star' : 'fal fa-star'"
  ></i>
  <i
    (click)="onClick(2)"
    [className]="rating > 1 ? 'fas fa-star' : 'fal fa-star'"
  ></i>
  <i
    (click)="onClick(3)"
    [className]="rating > 2 ? 'fas fa-star' : 'fal fa-star'"
  ></i>
  <i
    (click)="onClick(4)"
    [className]="rating > 3 ? 'fas fa-star' : 'fal fa-star'"
  ></i>
  <i
    (click)="onClick(5)"
    [className]="rating > 4 ? 'fas fa-star' : 'fal fa-star'"
  ></i>
</div>
