<div style="width: 95px">
  <fa-icon
    (click)="onClick(1)"
    [icon]="rating > 0 ? ['fas', 'star'] : ['fal', 'star']"
  ></fa-icon>
  <fa-icon
    (click)="onClick(2)"
    [icon]="rating > 1 ? ['fas', 'star'] : ['fal', 'star']"
  ></fa-icon>
  <fa-icon
    (click)="onClick(3)"
    [icon]="rating > 2 ? ['fas', 'star'] : ['fal', 'star']"
  ></fa-icon>
  <fa-icon
    (click)="onClick(4)"
    [icon]="rating > 3 ? ['fas', 'star'] : ['fal', 'star']"
  ></fa-icon>
  <fa-icon
    (click)="onClick(5)"
    [icon]="rating > 4 ? ['fas', 'star'] : ['fal', 'star']"
  ></fa-icon>
</div>
